In [2]:
import pandas as pd

In [3]:
url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet'

In [4]:
df = pd.read_parquet(
    url
)

In [5]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [13]:
pd.set_option('display.max_columns', None)

df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,1.00,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,1.00,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,1.00,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,1.00,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,3.75,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [ ]:
q1 = df[(df['lpep_pickup_datetime'] >= '2025-11-01') & 
                  (df['lpep_pickup_datetime'] <= '2025-12-01') & 
                  (df['trip_distance'] <= 1)]

print(f"Number of trips: {len(q1)}")

Number of trips: 8007

In [7]:
q2 = df[(df['trip_distance'] <= 100)]

print(f"Longest trip distance and day: {q2['trip_distance'].max()} , {q2.loc[q2['trip_distance'].idxmax()]['lpep_pickup_datetime']}")

Longest trip distance and day: 88.03 , 2025-11-14 15:36:27

In [15]:
url2 = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv'

In [14]:
df2 = pd.read_csv(
    url2
)

print(df2.head())

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [16]:
df_joined = df.merge(df2, left_on='PULocationID', right_on='LocationID', how='left')
df_joined.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee,LocationID,Borough,Zone,service_zone
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,1.00,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0,74,Manhattan,East Harlem North,Boro Zone
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,1.00,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0,74,Manhattan,East Harlem North,Boro Zone
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,1.00,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0,83,Queens,Elmhurst/Maspeth,Boro Zone
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,1.00,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0,166,Manhattan,Morningside Heights,Boro Zone
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,3.75,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0,166,Manhattan,Morningside Heights,Boro Zone

In [31]:
# Filter for pickups on Nov 18, 2025
df_nov18 = df_joined[(df_joined['lpep_pickup_datetime'] >= '2025-11-18') &
                     (df_joined['lpep_pickup_datetime'] < '2025-11-19')]

# Find the zone with the highest total amount
zone_max_total = df_nov18.groupby('Zone')['total_amount'].sum().idxmax()
max_total = df_nov18.groupby('Zone')['total_amount'].sum().max()
print(f"Zone with the most total amount on Nov 18, 2025: {zone_max_total} (${max_total:.2f})")

Zone with the most total amount on Nov 18, 2025: East Harlem North ($9281.92)

In [38]:
df_eharlem = df_joined[(df_joined['Zone'] == 'East Harlem North')]

zone_max_total = df_nov18.groupby('DOLocationID')['tip_amount'].sum().idxmax()

df_q4 = df2[df2['LocationID'] == zone_max_total]

print(f"Zone with the highest total tip amount on Nov 18, 2025: {df_q4['Zone'].values[0]}")

Zone with the highest total tip amount on Nov 18, 2025: Upper East Side North